<div id="wrap">
    <div class="container">
        <!-- Fixed navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Home</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#/topics">Topics</a></li>
                        <li class="active"><a href="#/topics/add">Add Topic</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
        <!-- Begin page content -->
        <h1>Add A Topic</h1>

        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="firstName" placeholder="First Name"
                           ng-model="topicsAddControllerNS.newTopic.name.first">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                           ng-model="topicsAddControllerNS.newTopic.name.last">
                </div>
            </div>
            <div class="form-group">
                <label for="topicTitle" class="col-sm-2 control-label">Topic</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="topicTitle" placeholder="Topic Title"
                           ng-model="topicsAddControllerNS.newTopic.title">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn"
                            ng-click="topicsAddControllerNS.addTopic(topicsAddControllerNS.newTopic)"><span
                            class="glyphicon glyphicon-plus"></span> Add A Topic
                    </button>
                </div>
            </div>
        </form>
        <!-- End page content -->
    </div>
</div>